[user]
	name = etienne
	email = etienne@amato.top
[credential]
    helper = store --file ~/.git-credentials
    helper = cache --timeout 30000

#[core]
#    pager = delta

#[interactive]
#    diffFilter = delta --color-only

#[delta]
#    navigate = true

#[merge]
#    conflictstyle = diff3

#[diff]
#    colorMoved = default
